*
!orig_full.asm
!status.sh
!VS6/Common/MSDev98/Bin/MSPDB60.DLL
!VS6/Common/MSDev98/Bin/RCDLL.DLL
!VS6/Common/MSDev98/Bin/RC.EXE
!VS6/VC98/Bin/C1XX.DLL
!VS6/VC98/Bin/c2.dll
!VS6/VC98/Bin/CL.EXE
!VS6/VC98/Bin/CVTRES.EXE
!VS6/VC98/Bin/LINK.EXE
!VS6/VC98/Include/ASSERT.H
!VS6/VC98/Include/BASETSD.H
!VS6/VC98/Include/CDERR.H
!VS6/VC98/Include/CFLOAT
!VS6/VC98/Include/CGUID.H
!VS6/VC98/Include/CLIMITS
!VS6/VC98/Include/CMATH
!VS6/VC98/Include/COMMCTRL.H
!VS6/VC98/Include/COMMCTRL.RH
!VS6/VC98/Include/COMMDLG.H
!VS6/VC98/Include/CSTDDEF
!VS6/VC98/Include/CTYPE.H
!VS6/VC98/Include/CWCHAR
!VS6/VC98/Include/D3DTYPES.H
!VS6/VC98/Include/DDE.H
!VS6/VC98/Include/DDEML.H
!VS6/VC98/Include/DDE.RH
!VS6/VC98/Include/DDRAW.H
!VS6/VC98/Include/DLGS.H
!VS6/VC98/Include/DOCOBJ.H
!VS6/VC98/Include/DSOUND.H
!VS6/VC98/Include/EH.H
!VS6/VC98/Include/EXCEPTION
!VS6/VC98/Include/EXCPT.H
!VS6/VC98/Include/EXDISP.H
!VS6/VC98/Include/FLOAT.H
!VS6/VC98/Include/IMM.H
!VS6/VC98/Include/IO.H
!VS6/VC98/Include/ISGUIDS.H
!VS6/VC98/Include/LIMITS
!VS6/VC98/Include/LIMITS.H
!VS6/VC98/Include/LZEXPAND.H
!VS6/VC98/Include/MATH.H
!VS6/VC98/Include/MCX.H
!VS6/VC98/Include/MMSYSTEM.H
!VS6/VC98/Include/MSXML.H
!VS6/VC98/Include/NB30.H
!VS6/VC98/Include/NEW
!VS6/VC98/Include/OAIDL.H
!VS6/VC98/Include/OBJBASE.H
!VS6/VC98/Include/OBJIDL.H
!VS6/VC98/Include/OCIDL.H
!VS6/VC98/Include/OLE2.H
!VS6/VC98/Include/OLEAUTO.H
!VS6/VC98/Include/OLEIDL.H
!VS6/VC98/Include/POPPACK.H
!VS6/VC98/Include/PROCESS.H
!VS6/VC98/Include/PRSHT.H
!VS6/VC98/Include/PSHPACK1.H
!VS6/VC98/Include/PSHPACK2.H
!VS6/VC98/Include/PSHPACK4.H
!VS6/VC98/Include/PSHPACK8.H
!VS6/VC98/Include/RPCASYNC.H
!VS6/VC98/Include/RPCDCE.H
!VS6/VC98/Include/RPCDCEP.H
!VS6/VC98/Include/RPC.H
!VS6/VC98/Include/RPCNDR.H
!VS6/VC98/Include/RPCNSI.H
!VS6/VC98/Include/RPCNSIP.H
!VS6/VC98/Include/RPCNTERR.H
!VS6/VC98/Include/SERVPROV.H
!VS6/VC98/Include/SHELLAPI.H
!VS6/VC98/Include/SHLGUID.H
!VS6/VC98/Include/SHLOBJ.H
!VS6/VC98/Include/STDARG.H
!VS6/VC98/Include/STDDEF.H
!VS6/VC98/Include/STDIO.H
!VS6/VC98/Include/STDLIB.H
!VS6/VC98/Include/STRING.H
!VS6/VC98/Include/TIME.H
!VS6/VC98/Include/TYPEINFO
!VS6/VC98/Include/UNKNWN.H
!VS6/VC98/Include/URLMON.H
!VS6/VC98/Include/USE_ANSI.H
!VS6/VC98/Include/WCHAR.H
!VS6/VC98/Include/WCTYPE.H
!VS6/VC98/Include/WINBASE.H
!VS6/VC98/Include/WINCON.H
!VS6/VC98/Include/WINCRYPT.H
!VS6/VC98/Include/WINDEF.H
!VS6/VC98/Include/WINDOWS.H
!VS6/VC98/Include/WINERROR.H
!VS6/VC98/Include/WINGDI.H
!VS6/VC98/Include/WINNETWK.H
!VS6/VC98/Include/WINNLS.H
!VS6/VC98/Include/WINNT.H
!VS6/VC98/Include/WINNT.RH
!VS6/VC98/Include/WINPERF.H
!VS6/VC98/Include/WINREG.H
!VS6/VC98/Include/WINRESRC.H
!VS6/VC98/Include/WINSOCK.H
!VS6/VC98/Include/WINSPOOL.H
!VS6/VC98/Include/WINSVC.H
!VS6/VC98/Include/WINUSER.H
!VS6/VC98/Include/WINUSER.RH
!VS6/VC98/Include/WINVER.H
!VS6/VC98/Include/WTYPES.H
!VS6/VC98/Include/XSTDDEF
!VS6/VC98/Include/YMATH.H
!VS6/VC98/Include/YVALS.H
!VS6/VC98/Lib/ADVAPI32.LIB
!VS6/VC98/Lib/GDI32.LIB
!VS6/VC98/Lib/KERNEL32.LIB
!VS6/VC98/Lib/LIBCMT.LIB
!VS6/VC98/Lib/LIBCPMT.LIB
!VS6/VC98/Lib/OLDNAMES.LIB
!VS6/VC98/Lib/SHELL32.LIB
!VS6/VC98/Lib/USER32.LIB
!VS6/VC98/Lib/UUID.LIB
!VS6/VC98/Lib/VERSION.LIB
!VS6/VC98/MFC/Include/AFXRES.H
!VS6/VC98/MFC/Include/WINRES.H
!DevStudio_5.10/VC/bin/CVTRES.EXE
!DevStudio_5.10/VC/bin/LINK.EXE
!DevStudio_5.10/VC/bin/MSDIS100.DLL
!DevStudio_5.10/VC/bin/MSPDB50.DLL
!DevStudio_5.10/VC/bin/MSVCP50.DLL
!DevStudio_5.10/VC/lib/ADVAPI32.LIB
!DevStudio_5.10/VC/lib/GDI32.LIB
!DevStudio_5.10/VC/lib/KERNEL32.LIB
!DevStudio_5.10/VC/lib/LIBCMT.LIB
!DevStudio_5.10/VC/lib/LIBCPMT.LIB
!DevStudio_5.10/VC/lib/OLDNAMES.LIB
!DevStudio_5.10/VC/lib/SHELL32.LIB
!DevStudio_5.10/VC/lib/USER32.LIB
!DevStudio_5.10/VC/lib/UUID.LIB
!DevStudio_5.10/VC/lib/VERSION.LIB
