*
!orig_full.asm
!status.sh
!VS6/COMMON/MSDEV98/BIN/MSPDB60.DLL
!VS6/COMMON/MSDEV98/BIN/RCDLL.DLL
!VS6/COMMON/MSDEV98/BIN/RC.EXE
!VS6/VC98/MFC/INCLUDE/AFXRES.H
!VS6/VC98/MFC/INCLUDE/WINRES.H
!VS6/VC98/BIN/c2.dll
!VS6/VC98/BIN/C1XX.DLL
!VS6/VC98/BIN/LINK.EXE
!VS6/VC98/BIN/CL.EXE
!VS6/VC98/BIN/CVTRES.EXE
!VS6/VC98/LIB/ADVAPI32.LIB
!VS6/VC98/LIB/GDI32.LIB
!VS6/VC98/LIB/KERNEL32.LIB
!VS6/VC98/LIB/LIBCMT.LIB
!VS6/VC98/LIB/LIBCPMT.LIB
!VS6/VC98/LIB/OLDNAMES.LIB
!VS6/VC98/LIB/SHELL32.LIB
!VS6/VC98/LIB/USER32.LIB
!VS6/VC98/LIB/UUID.LIB
!VS6/VC98/LIB/VERSION.LIB
!VS6/VC98/INCLUDE/WINCRYPT.H
!VS6/VC98/INCLUDE/EXDISP.H
!VS6/VC98/INCLUDE/RPC.H
!VS6/VC98/INCLUDE/CDERR.H
!VS6/VC98/INCLUDE/DOCOBJ.H
!VS6/VC98/INCLUDE/WINDOWS.H
!VS6/VC98/INCLUDE/LZEXPAND.H
!VS6/VC98/INCLUDE/LIMITS
!VS6/VC98/INCLUDE/WINNLS.H
!VS6/VC98/INCLUDE/WINNETWK.H
!VS6/VC98/INCLUDE/LIMITS.H
!VS6/VC98/INCLUDE/DSOUND.H
!VS6/VC98/INCLUDE/CSTDDEF
!VS6/VC98/INCLUDE/WINBASE.H
!VS6/VC98/INCLUDE/DLGS.H
!VS6/VC98/INCLUDE/WINNT.H
!VS6/VC98/INCLUDE/RPCDCE.H
!VS6/VC98/INCLUDE/URLMON.H
!VS6/VC98/INCLUDE/WINDEF.H
!VS6/VC98/INCLUDE/MMSYSTEM.H
!VS6/VC98/INCLUDE/OCIDL.H
!VS6/VC98/INCLUDE/D3DTYPES.H
!VS6/VC98/INCLUDE/RPCNDR.H
!VS6/VC98/INCLUDE/PRSHT.H
!VS6/VC98/INCLUDE/BASETSD.H
!VS6/VC98/INCLUDE/WINERROR.H
!VS6/VC98/INCLUDE/WINRESRC.H
!VS6/VC98/INCLUDE/OLE2.H
!VS6/VC98/INCLUDE/WINCON.H
!VS6/VC98/INCLUDE/WINSOCK.H
!VS6/VC98/INCLUDE/CWCHAR
!VS6/VC98/INCLUDE/IMM.H
!VS6/VC98/INCLUDE/WINSVC.H
!VS6/VC98/INCLUDE/WINUSER.H
!VS6/VC98/INCLUDE/WINSPOOL.H
!VS6/VC98/INCLUDE/RPCNSIP.H
!VS6/VC98/INCLUDE/RPCNTERR.H
!VS6/VC98/INCLUDE/CFLOAT
!VS6/VC98/INCLUDE/RPCNSI.H
!VS6/VC98/INCLUDE/EXCPT.H
!VS6/VC98/INCLUDE/YMATH.H
!VS6/VC98/INCLUDE/MSXML.H
!VS6/VC98/INCLUDE/ASSERT.H
!VS6/VC98/INCLUDE/OAIDL.H
!VS6/VC98/INCLUDE/STRING.H
!VS6/VC98/INCLUDE/OLEAUTO.H
!VS6/VC98/INCLUDE/COMMCTRL.H
!VS6/VC98/INCLUDE/STDDEF.H
!VS6/VC98/INCLUDE/SHLOBJ.H
!VS6/VC98/INCLUDE/STDLIB.H
!VS6/VC98/INCLUDE/WTYPES.H
!VS6/VC98/INCLUDE/OBJIDL.H
!VS6/VC98/INCLUDE/RPCDCEP.H
!VS6/VC98/INCLUDE/COMMDLG.H
!VS6/VC98/INCLUDE/ISGUIDS.H
!VS6/VC98/INCLUDE/MCX.H
!VS6/VC98/INCLUDE/CMATH
!VS6/VC98/INCLUDE/WCHAR.H
!VS6/VC98/INCLUDE/SERVPROV.H
!VS6/VC98/INCLUDE/XSTDDEF
!VS6/VC98/INCLUDE/WINPERF.H
!VS6/VC98/INCLUDE/WINGDI.H
!VS6/VC98/INCLUDE/WINNT.RH
!VS6/VC98/INCLUDE/PSHPACK2.H
!VS6/VC98/INCLUDE/WINREG.H
!VS6/VC98/INCLUDE/DDEML.H
!VS6/VC98/INCLUDE/CLIMITS
!VS6/VC98/INCLUDE/PSHPACK8.H
!VS6/VC98/INCLUDE/PROCESS.H
!VS6/VC98/INCLUDE/DDE.H
!VS6/VC98/INCLUDE/STDARG.H
!VS6/VC98/INCLUDE/PSHPACK1.H
!VS6/VC98/INCLUDE/COMMCTRL.RH
!VS6/VC98/INCLUDE/CGUID.H
!VS6/VC98/INCLUDE/IO.H
!VS6/VC98/INCLUDE/POPPACK.H
!VS6/VC98/INCLUDE/DDRAW.H
!VS6/VC98/INCLUDE/CTYPE.H
!VS6/VC98/INCLUDE/STDIO.H
!VS6/VC98/INCLUDE/OLEIDL.H
!VS6/VC98/INCLUDE/SHLGUID.H
!VS6/VC98/INCLUDE/RPCASYNC.H
!VS6/VC98/INCLUDE/YVALS.H
!VS6/VC98/INCLUDE/PSHPACK4.H
!VS6/VC98/INCLUDE/WCTYPE.H
!VS6/VC98/INCLUDE/UNKNWN.H
!VS6/VC98/INCLUDE/TIME.H
!VS6/VC98/INCLUDE/WINVER.H
!VS6/VC98/INCLUDE/FLOAT.H
!VS6/VC98/INCLUDE/MATH.H
!VS6/VC98/INCLUDE/NB30.H
!VS6/VC98/INCLUDE/DDE.RH
!VS6/VC98/INCLUDE/USE_ANSI.H
!VS6/VC98/INCLUDE/SHELLAPI.H
!VS6/VC98/INCLUDE/OBJBASE.H
!VS6/VC98/INCLUDE/WINUSER.RH
!DevStudio_5.10/VC/BIN/MSVCP50.DLL
!DevStudio_5.10/VC/BIN/MSDIS100.DLL
!DevStudio_5.10/VC/BIN/MSPDB50.DLL
!DevStudio_5.10/VC/BIN/LINK.EXE
!DevStudio_5.10/VC/BIN/CVTRES.EXE
!DevStudio_5.10/VC/LIB/KERNEL32.LIB
!DevStudio_5.10/VC/LIB/UUID.LIB
!DevStudio_5.10/VC/LIB/GDI32.LIB
!DevStudio_5.10/VC/LIB/LIBCMT.LIB
!DevStudio_5.10/VC/LIB/OLDNAMES.LIB
!DevStudio_5.10/VC/LIB/VERSION.LIB
!DevStudio_5.10/VC/LIB/ADVAPI32.LIB
!DevStudio_5.10/VC/LIB/USER32.LIB
!DevStudio_5.10/VC/LIB/SHELL32.LIB
!DevStudio_5.10/VC/LIB/LIBCPMT.LIB
